$bg-box-info: #302f3d;
$bg-box-image-profile: #00ff00;
$bg-box-technologies: #cb92b1;
$bg-box-technologies-hover: #cb92b1a1;

$bg-shadow: #1e1d25;

$text-primary: #9893b8;
$text-family: 'Merriweather Sans';
