@import '../../global/styles/theme';

.container {
  padding: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 20px;

  background-color: $bg-box-info;
  box-shadow: 5px 5px 3px $bg-shadow;

  border-radius: 20px;
}
