@import '../../global/styles/theme';

.textLink {
  color: $text-primary;
  margin: 7px;

  display: flex;
  align-items: center;

  font-family: $text-family;
  font-size: 17px;

  > img {
    margin-right: 20px;
    display: flex;
    align-items: center;
    color: $text-primary;
  }

  > a {
    text-decoration: none;
    color: $text-primary;
  }
}
